/* This section marks the begeinning of discription section */

.company_discription {
    border: 1px solid darkgray;
    background-color: darkgray;
    border-top-left-radius: 100%;
    margin-top: -5px;
    padding: 5px;
    display: flex;
}

.company_discription_image {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 50%;
}

.company_discription_text_container {
    float: right;
    margin-left: 200px;
    color: gray;
    padding-right: 40px;
}

.company_discription_image_container {
    float: left;
    width: 70em;
    height: 30em;

}

.company_discription_text {
    font-size: 25px;
}

.company_discription_button_container div {
    display: inline;
    margin: 30px;
    border-radius: 2px;
    background-color: darkgray;
    border: 2px solid gray;
    text-align: center;
}

.company_discription_button_container {
    margin-left: 20%;
    margin-top: 10%;
}

a:visited {
    color: inherit;
}

.company_discription_button_container div:hover {
    color: darkgray;
    background-color: gray;
}

.company_discription_about_button {
    padding: 15px;
    padding-right: 35px;
    padding-left: 35px;
}

.company_discription_allgames_button {
    padding: 15px;
}

.company_discription_button_container div>a {
    text-decoration: none;
}
