html{
    margin: -8px;
}

/* This section defines style for navigation bar */

.navigation_bar{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.left_container div{
    float: right;

}

.right_container div{
    float: left;

}

.navigation_bar div > div > a{
    text-decoration: none;
    text-align: center;
}

.navigation_bar div > div:not(.home_with_logo):hover{
    background-color: darkgray;
}

.navigation_bar > div > div:not(.home_with_logo) {
    padding: 15px;
}

.home_with_logo{
    background-color: green;
}
.navigation_bar div > div:not(.home_with_logo):active{
    background-color: darkgray;
}

.home_with_logo:active{
    background-color: skyblue;
}
.home_with_logo:hover{
    background-color: skyblue;
}
.home_with_logo{
    display: flex;
    padding: 3px;
}
.logo_text_container{
    padding: 10px;
}
/* This section defines the strip image displayed */
.game_stripe_image{
    width:100%;
    height:400px;
    object-fit:cover;
    object-position:50% 50%;
}

/* This section marks the begeinning of discription section */

.company_discription{
    border: 1px solid darkgray;
    background-color: lightgreen;
    border-top-left-radius: 100%;
    margin-top: 5px;
    padding: 5px;
}

.company_discription_image{
    
}